//- Flexbox layout (v2)
aside(class="gutter {{viewClass}}")
  ul.list-nav.gutter
    li.gutter-player(ng-class="{'active': customize.$state.includes('customize.player') || customize.$state.includes('customize.profile')}")
      span
        | Player Info
      img(src="/assets/images/customizer_icon_player.svg", style="max-width: 70%;",  alt="Player Icon")
    li.gutter-stick(ng-class="{'active': customize.$state.includes('customize.model')}")
      span
        | Pick a Stick
      img(src="/assets/images/customizer_icon_stick.svg", style="max-width: 40%;", alt="Stick Icon")
    li.gutter-model(ng-class="{'active': customize.$state.includes('customize.options')}")
      span
        | Customize
      img(src="/assets/images/customizer_icon_wrench.svg", style="max-width: 33%; margin-left: -5px;", alt="Customize Icon")
    li.gutter-review(ng-class="{'active': customize.$state.includes('customize.review')}")
      span
        | Review
      img(src="/assets/images/customizer_icon_review.svg", style="  max-width: 50%; bottom: 17px; margin-left: 2px;", alt="Review Icon")
    li.gutter-checkout(ui-sref="customize.cart", ui-sref-active="active")
      span
        | Checkout
      img(src="/assets/images/customizer_icon_creditcard.svg", style="max-width: 60%; bottom: 20px;", alt="Cart Icon")
  .visible-xs-block.mobile-header-nav
    ul.mobile-nav
      li
        | {{navTitle}}
section(ui-view="stage-left",
        class="west {{viewClass}}"
        ng-class="{'hidden-of': customize.$state.includes('customize.options') || customize.$state.includes('customize.review')}"
        style="flex: {{westFlex}}")
section(ui-view="stage-right",
        class="east {{viewClass}}"
        ng-class="{'shadowed': customize.$state.includes('customize.options')}"
        style="flex: {{eastFlex}}")
