//- Flexbox layout (v2)
aside(class="gutter {{viewClass}}")
  ul.list-nav.gutter
    li.gutter-player(ng-class="{'active': customize.$state.includes('customize.player') || customize.$state.includes('customize.profile')}",
                     ui-sref="customize.player")
      img(src="assets/images/icon_player.svg", alt="Player Icon")
      span
        | Player Info
    li.gutter-stick(ui-sref="customize.model", ui-sref-active="active")
      img(src="assets/images/icon_stick.svg", alt="Stick Icon")
      span
        | Pick a Stick
    li.gutter-model(ui-sref="customize.options", ui-sref-active="active")
      img(src="assets/images/icon_customize.svg", alt="Customize Icon")
      span
        | Customize
    li.gutter-review(ui-sref="customize.review", ui-sref-active="active")
      img(src="assets/images/icon_review.svg", alt="Review Icon")
      span
        | Review
    li.gutter-checkout(ui-sref="customize.cart", ui-sref-active="active")
      img(src="assets/images/icon_cart.svg", alt="Cart Icon")
      span
        | Checkout
  .visible-xs-block.mobile-header-nav
    ul.mobile-nav
      li
        | {{navTitle}}
section(ui-view="stage-left",
        class="west {{viewClass}}"
        ng-class="{'hidden-of': customize.$state.includes('customize.options') || customize.$state.includes('customize.review')}"
        style="flex: {{westFlex}}")
section(ui-view="stage-right",
        class="east {{viewClass}}"
        ng-class="{'shadowed': customize.$state.includes('customize.options')}"
        style="flex: {{eastFlex}}")